@using Seal.Model
@{
    MainModel model = Model as MainModel;
    Repository repository = model.Repository;
}
<script type="text/javascript">
    var menuStyle = "";
</script>

<nav id="bar_top" class="navbar navbar-default navbar-inverse navbar-fixed-top" style="transition:top 0.3s;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">@repository.TranslateWeb("Toggle navigation")</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div>
                <a id="brand-id" class="navbar-brand hidden-xs" href="#">@repository.Configuration.WebProductName</a>
                <ul style="float:left;margin:0;padding:10px 0px;list-style:none">
                    <li class="dropdown">
                        <a id="menu-main-button" href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding:10px 5px" title="@repository.TranslateWeb("Reports menu")">
                            <span class="glyphicon glyphicon-menu-hamburger btn btn-sm btn-primary" aria-hidden="true"></span>
                        </a>
                        <ul id="menu-main" class="dropdown-menu">
                            <li class="dropdown dropdown-submenu menu-last-reports">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    @repository.TranslateWeb("Recent Reports")
                                </a>
                                <ul id="menu-last-reports" class="dropdown-menu">
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <a id="nav_button" href="#" class="navbar-brand"></a>
                <span id="nav_badge" class="badge navbar-left hidden">@repository.TranslateReport("Nav")</span>
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
            <ul class="nav navbar-nav pull-xs-right navbar-right">
                <li class="nav-item"><a id="profile-nav-item" class="navbar-white fa fa-user" style="font-size:20px" title="@repository.TranslateWeb("Profile")"></a></li>
                <li class="nav-item"><a id="disconnect-nav-item" class="navbar-white fa fa-sign-out" style="font-size:20px" title="@repository.TranslateWeb("Disconnect")"></a></li>
            </ul>
            <form class="navbar-form navbar-right folderview" style="display:none;">
                <div class="input-group">
                    <input id="search-pattern" type="text" class="form-control input-sm col-sm-1" style="width:120px" placeholder="@repository.TranslateWeb("Search")" />
                    <span class="input-group-btn">
                        <button id="search-nav-item" type="button" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </form>
            <button id="reload-nav-item" class="btn btn-primary navbar-btn navbar-right reportview" title="@repository.TranslateWeb("Reload and execute")">
                <span class="glyphicon glyphicon-play"></span>
            </button>
            <button id="execute_button" class="btn btn-success navbar-btn navbar-right reportview">@repository.TranslateReport("Execute")</button>
            <button id="restrictions_button" type="button" class="btn btn-info navbar-btn navbar-right reportview" title="@repository.TranslateReport("Show/Hide Restrictions")">
                <span class="glyphicon glyphicon-filter"></span>
            </button>
            <ul class="nav navbar-nav pull-xs-right navbar-right">
                <li><a id="report_button" class="sr_tab reportview" data-toggle="tab" href="#report_div">@repository.TranslateReport("Report")</a></li>
                <li><a id="information_button" class="sr_tab reportview" data-toggle="tab" href="#information_div">@repository.TranslateReport("Information")</a></li>
                <li><a id="message_button" class="sr_tab reportview" data-toggle="tab" href="#message_div">@repository.TranslateReport("Messages")</a></li>
                <li id="results_menu" class="dropdown reportview">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        @repository.TranslateReport("Results")
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a id="HtmlResult" class="result_item" href="#">@repository.TranslateReport("View HTML Result")</a></li>
                        <li><a id="PrintResult" class="result_item" href="#">@repository.TranslateReport("View Print Result")</a></li>
                        <li><a id="CSVResult" class="result_item" href="#">@repository.TranslateReport("View CSV Result")</a></li>
                        <li><a id="PDFResult" class="result_item converter_item" href="#">@repository.TranslateReport("View PDF Result")</a></li>
                        <li><a id="ExcelResult" class="result_item converter_item" href="#">@repository.TranslateReport("View Excel Result")</a></li>
                    </ul>
                </li>
                <li class="nav-item folderview"><a id="refresh-nav-item" class="navbar-white fa fa-refresh" title="@repository.TranslateWeb("Refresh")"></a></li>
                <li class="nav-item folderview" style="display:none;" title="@repository.TranslateWeb("Manage Folders")"><a id="folders-nav-item" style="font-size:20px" class="navbar-white fa fa-folder-open"></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
