@using Seal.Model
@using Seal.Helpers
@using SealWebServer.Controllers
@using SealWebServer.Models.Configuration
@{
    WebMainModel model = Model as WebMainModel;
    Repository repository = model.Repository;
    var authenticationConfig = ViewData["AuthenticationConfig"] as Authentication;
}

<!--Wait Dialog-->
<div class="modal fade in" id="wait-dialog" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="text-align:center">
                <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                <h3 style="display:inline">@repository.TranslateWeb("Please wait")...</h3>
            </div>
        </div>
    </div>
</div>

<!-- Message Dialog -->
<div id="message-dialog" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" style="z-index:25000;">
    <div class="modal-dialog">
        <div class="modal-content" style="top: 60px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="@repository.TranslateWeb("Close")"><span aria-hidden="true">&times;</span></button>
                <h4 id="message-title" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <span id="message-text"></span>
            </div>
            <div class="modal-footer">
                <button id="message-cancel-button" type="button" class="btn btn-default" data-dismiss="modal">@repository.TranslateWeb("Cancel")</button>
                <button id="message-ok-button" type="button" class="btn btn-primary">@repository.TranslateWeb("OK")</button>
            </div>
        </div>
    </div>
</div>

<!-- File Name Dialog -->
<div id="report-name-dialog" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" style="z-index:25000;">
    <div class="modal-dialog">
        <div class="modal-content" style="top:60px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="@repository.TranslateWeb("Close")"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@repository.TranslateWeb("Enter your new file name")</h4>
            </div>
            <div class="modal-body">
                <input id="report-name" type="text" class="form-control" placeholder="@repository.TranslateReport("New report")" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@repository.TranslateWeb("Cancel")</button>
                <button id="report-name-save" type="button" class="btn btn-primary">@repository.TranslateWeb("Save")</button>
            </div>
        </div>
    </div>
</div>


<!-- Profile Dialog -->
<div id="profile-dialog" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" style="top:60px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="@repository.TranslateWeb("Close")"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@repository.TranslateWeb("Profile information")</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="profile-user"><span class="fa fa-user"></span> @repository.TranslateWeb("User name")</label>
                    <input class="form-control" id="profile-user" disabled="disabled" />
                </div>
                <div class="form-group">
                    <label for="profile-groups"><span class="fa fa-users"></span> @repository.TranslateWeb("User groups")</label>
                    <textarea rows="3" class="form-control" id="profile-groups" disabled="disabled">
                        </textarea>
                </div>
                <div class="form-group edit-profile">
                    <label for="culture-select"><span class="fa fa-language"></span> @repository.TranslateWeb("Culture")</label>
                    <div>
                        <select id="culture-select" data-width="100%"></select>
                    </div>
                </div>
                <div class="form-group edit-profile">
                    <label for="onstartup-select"><span class="fa fa-power-off"></span> @repository.TranslateWeb("On startup")</label>
                    <div>
                        <select id="onstartup-select" data-width="100%"></select>
                    </div>
                </div>
                <div class="form-group edit-profile">
                    <label for="onstartup-reportname"><span class="fa fa-edit"></span> @repository.TranslateWeb("Startup report name")</label>
                    <input class="form-control" id="onstartup-reportname" />
                </div>
                <div class="form-group edit-profile">
                    <label for="executionmode-select"><span class="fa fa-external-link"></span> @repository.TranslateWeb("Report execution mode")</label>
                    <div>
                        <select id="executionmode-select" data-width="100%"></select>
                    </div>
                </div>
                <div class="form-group edit-profile">
                    <label><span class="fa fa-database"></span> @repository.TranslateWeb("Data source connections")</label>
                    <div id="default-connections">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="profile-cancel" type="button" class="btn btn-default edit-profile" data-dismiss="modal">@repository.TranslateWeb("Cancel")</button>
                <button id="profile-save" type="button" class="btn btn-primary edit-profile">@repository.TranslateWeb("Save")</button>
                <button id="profile-close" type="button" class="btn btn-default" data-dismiss="modal">@repository.TranslateWeb("Close")</button>
            </div>
        </div>
    </div>
</div>


<!-- Configuration Dialog -->
<div id="config-dialog" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" style="top:60px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="@repository.TranslateWeb("Close")"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@repository.TranslateWeb("Configuration and security")</h4>
            </div>
            <div class="modal-body">
                <div class="input-row">
                    <span class="input-label">@repository.TranslateWeb("Web product name")</span>
                    <input id="config-webproduct-name" type="text" class="form-control input-field" placeholder="@repository.TranslateWeb("Web product name")" />
                </div>
                <ul id="config-tab-control" class="nav nav-pills">
                    <li class="active"><a data-toggle="pill" href="#config-group-detail-content">@repository.TranslateWeb("Groups")</a></li>
                    <li class="assistants-panel"><a data-toggle="pill" href="#config-user-detail-content">@repository.TranslateWeb("Logins")</a></li>
                </ul>
                <div id="detail-section-1">
                    <div class="tab-content">
                        <div id="config-group-detail-content" class="tab-pane fade in active">
                            <div class="form-group config-groups-panel">
                                <div class="input-row">
                                    <div class="input-group input-field">
                                        <input id="config-group-name" type="text" class="form-control" />
                                        <div class="input-group-btn">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                                <span class="caret"></span>
                                            </button>
                                            <ul id="config-groups-dropdown" class="dropdown-menu" style="left:auto;right:0"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="config-group-editconfiguration">@repository.TranslateWeb("Edit configuration (Danger Zone: Is Administrator)")</label>
                                <div>
                                    <select class="form-control" id="config-group-editconfiguration"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="config-group-editprofile">@repository.TranslateWeb("Edit profile")</label>
                                <div>
                                    <select class="form-control" id="config-group-editprofile"></select>
                                </div>
                            </div>
                            <div class="form-group group-folder-panel">
                                <div class="input-row">
                                    <span class="input-label">@repository.TranslateWeb("Folder")</span>
                                    <div class="input-group input-field">
                                        <span class="form-control" id="config-group-folder-name"></span>
                                        <div class="input-group-btn">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                                <span class="caret"></span>
                                            </button>
                                            <ul id="config-group-folders-dropdown" class="dropdown-menu" style="left:auto;right:0"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group config-group-folder">
                                <div>
                                    <select class="form-control" id="config-group-folder-select"></select>
                                </div>
                            </div>
                            <div class="form-group config-group-folder">
                                <label class="control-label" for="config-group-folder-right">@repository.TranslateWeb("Rights")</label>
                                <div>
                                    <select class="form-control" id="config-group-folder-right"></select>
                                </div>
                            </div>
                            <div class="form-group config-group-folder">
                                <label class="control-label" for="config-group-folder-manage">@repository.TranslateWeb("Manage sub-folders")</label>
                                <div>
                                    <select class="form-control" id="config-group-folder-manage"></select>
                                </div>
                            </div>
                            <div class="form-group config-group-folder">
                                <label class="control-label" for="config-group-folder-showsub">@repository.TranslateWeb("Show sub-folders")</label>
                                <div>
                                    <select class="form-control" id="config-group-folder-showsub"></select>
                                </div>
                            </div>
                            <div class="form-group config-group-folder">
                                <label class="control-label" for="config-group-folder-expand">@repository.TranslateWeb("Expand in Treeview")</label>
                                <div>
                                    <select class="form-control" id="config-group-folder-expand"></select>
                                </div>
                            </div>
                            <div class="form-group config-group-folder">
                                <label class="control-label" for="config-group-folder-filesonly">@repository.TranslateWeb("Files only")</label>
                                <div>
                                    <select class="form-control" id="config-group-folder-filesonly"></select>
                                </div>
                            </div>
                        </div>
                        <div id="config-user-detail-content" class="tab-pane fade">
                            <div class="form-group config-logins-panel">
                                <div class="input-row">
                                    <div class="input-group input-field">
                                        <input id="config-login-id" type="text" class="form-control" />
                                        <div class="input-group-btn">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                                <span class="caret"></span>
                                            </button>
                                            <ul id="config-logins-dropdown" class="dropdown-menu" style="left:auto;right:0"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="config-login input-row">
                                <span class="input-label">@repository.TranslateWeb("Name")</span>
                                <input id="config-login-name" type="text" class="form-control input-field" placeholder="@repository.TranslateWeb("Name")" />
                            </div>
                            <div class="config-login input-row">
                                <span class="input-label">@repository.TranslateWeb("Email")</span>
                                <input id="config-login-email" type="text" class="form-control input-field" placeholder="@repository.TranslateWeb("Email")" />
                            </div>
                            <div class="config-login input-row">
                                <span class="input-label">@repository.TranslateWeb("Phone")</span>
                                <input id="config-login-phone" type="text" class="form-control input-field" placeholder="@repository.TranslateWeb("Phone")" />
                            </div>
                            <div class="config-login input-row">
                                <span class="input-label">@repository.TranslateWeb("Groups")</span>
                                <select id="config-login-groups" multiple="multiple" data-live-search="true" data-actions-box="true" data-size="10" data-width="100%"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="config-cancel" type="button" class="btn btn-default edit-config" data-dismiss="modal">@repository.TranslateWeb("Cancel")</button>
                <button id="config-save" type="button" class="btn btn-primary edit-config">@repository.TranslateWeb("Save")</button>
            </div>
        </div>
    </div>
</div>

