@using Seal.Model
@using Seal.Helpers
@using SealWebServer.Controllers
@using SealWebServer.Models.Configuration
@{
    WebMainModel model = Model as WebMainModel;
    Repository repository = model.Repository;
    var authenticationConfig = ViewData["AuthenticationConfig"] as Authentication;
}

<!--Wait Dialog-->
<div class="modal fade in" id="wait-dialog" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="text-align:center">
                <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                <h3 style="display:inline">@repository.TranslateWeb("Please wait")...</h3>
            </div>
        </div>
    </div>
</div>

<!-- Message Dialog -->
<div id="message-dialog" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" style="z-index:25000;">
    <div class="modal-dialog">
        <div class="modal-content" style="top: 60px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="@repository.TranslateWeb("Close")"><span aria-hidden="true">&times;</span></button>
                <h4 id="message-title" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <span id="message-text"></span>
            </div>
            <div class="modal-footer">
                <button id="message-cancel-button" type="button" class="btn btn-default" data-dismiss="modal">@repository.TranslateWeb("Cancel")</button>
                <button id="message-ok-button" type="button" class="btn btn-primary">@repository.TranslateWeb("OK")</button>
            </div>
        </div>
    </div>
</div>

<!-- File Name Dialog -->
<div id="report-name-dialog" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" style="z-index:25000;">
    <div class="modal-dialog">
        <div class="modal-content" style="top:60px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="@repository.TranslateWeb("Close")"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@repository.TranslateWeb("Enter your new file name")</h4>
            </div>
            <div class="modal-body">
                <input id="report-name" type="text" class="form-control" placeholder="@repository.TranslateReport("New report")" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@repository.TranslateWeb("Cancel")</button>
                <button id="report-name-save" type="button" class="btn btn-primary">@repository.TranslateWeb("Save")</button>
            </div>
        </div>
    </div>
</div>


<!-- Profile Modal -->
<div id="profile-dialog" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" style="top:60px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="@repository.TranslateWeb("Close")"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@repository.TranslateWeb("Profile information")</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="profile-user"><span class="fa fa-user"></span> @repository.TranslateWeb("User name")</label>
                    <input class="form-control" id="profile-user" disabled="disabled" />
                </div>
                <div class="form-group">
                    <label for="profile-groups"><span class="fa fa-users"></span> @repository.TranslateWeb("User groups")</label>
                    <textarea rows="3" class="form-control" id="profile-groups" disabled="disabled">
                        </textarea>
                </div>
                <div class="form-group edit-profile">
                    <label for="culture-select"><span class="fa fa-language"></span> @repository.TranslateWeb("Culture")</label>
                    <div>
                        <select id="culture-select" data-width="100%"></select>
                    </div>
                </div>
                <div class="form-group edit-profile">
                    <label for="onstartup-select"><span class="fa fa-power-off"></span> @repository.TranslateWeb("On startup")</label>
                    <div>
                        <select id="onstartup-select" data-width="100%"></select>
                    </div>
                </div>
                <div class="form-group edit-profile">
                    <label for="onstartup-reportname"><span class="fa fa-edit"></span> @repository.TranslateWeb("Startup report name")</label>
                    <input class="form-control" id="onstartup-reportname" />
                </div>
                <div class="form-group edit-profile">
                    <label for="executionmode-select"><span class="fa fa-external-link"></span> @repository.TranslateWeb("Report execution mode")</label>
                    <div>
                        <select id="executionmode-select" data-width="100%"></select>
                    </div>
                </div>
                <div class="form-group edit-profile">
                    <label><span class="fa fa-database"></span> @repository.TranslateWeb("Data source connections")</label>
                    <div id="default-connections">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="profile-cancel" type="button" class="btn btn-default edit-profile" data-dismiss="modal">@repository.TranslateWeb("Cancel")</button>
                <button id="profile-save" type="button" class="btn btn-primary edit-profile">@repository.TranslateWeb("Save")</button>
                <button id="profile-close" type="button" class="btn btn-default" data-dismiss="modal">@repository.TranslateWeb("Close")</button>
            </div>
        </div>
    </div>
</div>
