@using Seal.Model
@using System.Globalization
@{
    SecurityUser user = Model as SecurityUser;
    Repository repository = user.Security.Repository;
}
<input type="hidden" autofocus="autofocus" />
<form id="userInfoForm" action="@ReportExecution.ActionSetUserInfo" method="post" target="_top">
    <div class="dataTables_wrapper">
        <table class="data_table">
            <tr class="even"><th class="cell_value">@repository.TranslateWeb("User Name")</th><td class="cell_value">@user.Name</td></tr>
            <tr class="odd"><th class="cell_value">@repository.TranslateWeb("User Groups")</th><td class="cell_value">@user.SecurityGroupsDisplay</td></tr>
            <tr class="even">
                <th class="cell_value">@repository.TranslateWeb("Culture")</th>
                <td class="cell_value">
                    <select id="culture" name="culture">
                        @foreach (var culture in CultureInfo.GetCultures(CultureTypes.AllCultures).OrderBy(i => i.EnglishName))
                        {
                            <option value="@(culture.EnglishName)" @(repository.CultureInfo.EnglishName == culture.EnglishName ? "selected" : "")>@culture.NativeName</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
    </div>
</form>




