@using Seal.Model
@using Seal.Helpers

@{
    Report report = Model;
    ReportView view = report.CurrentView;
    ReportView modelView = report.CurrentModelView;
    ReportModel reportModel = modelView.Model;
    ResultPage page = report.CurrentPage;
    int serieIndex = 0;
}

@if (reportModel.HasChartJSSerie && page.Series.Count > 0 && modelView.GetBoolValue("show_charts"))
{
    <!--Chart JS-->
    bool chartOk = false;
    string chartId = "cjs" + Guid.NewGuid().ToString().Replace("-", "");
    if (modelView.InitPageChart(page))
    {
        string chartType = reportModel.ExecChartJSType;
        if (chartType == "pie" && view.GetBoolValue("chartjs_doughnut"))
        {
            chartType = "doughnut";
        }
        else if (chartType == "bar" && view.GetBoolValue("chartjs_bar_horizontal"))
        {
            chartType = "horizontalBar";
        }
        <div class="chart-container" style="page-break-inside:avoid; @(view.GetBoolValue("chartjs_responsive") ? "position:relative;" : "") @Helper.AddIfNotEmpty("width:", view.GetValue("chartjs_contwidth"), ";")@Helper.AddIfNotEmpty("height:", view.GetValue("chartjs_contheight"), ";")">
            <canvas id="@chartId" @Raw(Helper.AddIfNotEmpty("width='", view.GetValue("chartjs_width"), "'")) @Raw(Helper.AddIfNotEmpty("height='", view.GetValue("chartjs_height"), "'"))></canvas>
        </div>
        <script>
            $(document).ready(function () {
            var ctx = $("#@chartId");
            var colors = d3.scale.category@((reportModel.ExecChartJSType == "pie" || reportModel.ExecChartJSType == "polarArea" ? page.PrimaryXDimensions.Count : page.Series.Count) <= 10 ? "1" : "2")0().range();
            colors = @Raw(view.GetValue("chartjs_colors") != "d3" ? view.GetValue("chartjs_colors") : "colors");
            var data = {
                labels: [@Raw(page.ChartXLabels)],
                navigations: [@Raw(page.ChartNavigations)],
                datasets: [
                    @foreach (ResultSerie serie in page.Series.Where(i => i.Element.ChartJSSerie != ChartJSSerieDefinition.None).OrderBy(i => i, new ResultSerieComparer()))
                    {
                        <text>
                    {
                        @Raw(chartType != "horizontalBar" && reportModel.ExecChartJSType != "pie" && chartType != "polarArea" && chartType != "radar" ? "type: '" + serie.Element.ChartJSSerie.ToString().ToLower() + "'," : "")
                        labels: [@Raw(page.ChartXLabels)],
                        label: '@Raw(Helper.ToJS(serie.SerieDisplayName))',
                        data: [@Raw(reportModel.ExecChartJSType == "pie" || reportModel.ExecChartJSType == "polarArea" || reportModel.ExecChartJSType == "radar" ? serie.ChartYSerieValues : (chartType != "horizontalBar" ? serie.ChartXYSerieValues: serie.ChartYXSerieValues))],
                        borderColor: colors@(reportModel.ExecChartJSType == "pie" || reportModel.ExecChartJSType == "polarArea" ? "" : "[" + serieIndex + "]"),
                        backgroundColor: colors@(reportModel.ExecChartJSType == "pie" || reportModel.ExecChartJSType == "polarArea" ? "" : "[" + serieIndex++ + "]"),
                        borderWidth: 1,
                        pointRadius: @Raw(view.GetValue("chartjs_point_radius")),
                        steppedLine: @Raw(view.GetValue("chartjs_stepped_line")),
                        fill: @Raw(view.GetValue("chartjs_fill")),
                        @(chartType == "horizontalBar" ? "x" : "y")AxisID: 'yaxis-@(serie.Element.YAxisType == AxisType.Secondary ? 2 : 1)'
                    },
                        </text>
                    }
                ]
            };
            var options = {
                responsive: @Helper.ToJS(view.GetBoolValue("chartjs_responsive")),
                maintainAspectRatio: @Helper.ToJS(view.GetBoolValue("chartjs_maintainratio")),
                legend: {
                    display: @Helper.ToJS(view.GetBoolValue("chartjs_show_legend")),
                    position: '@view.GetValue("chartjs_legend_position")'
                },
                title: {
                    display: @Raw(Helper.ToJS(!string.IsNullOrEmpty(view.GetValue("chartjs_title")))),
                    text: '@Raw(Helper.ToJS(modelView.GetTranslatedMappedLabel(view.GetValue("chartjs_title"))))',
                    position: '@view.GetValue("chartjs_title_position")'
                },
                layout: {
                    padding: {
                        @view.GetValue("chartjs_padding")
                    }
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            var allData = data.datasets[tooltipItem.datasetIndex].data;
                            var tooltipLabel = data.labels[tooltipItem.index];
                            var tooltipData = allData[tooltipItem.index];
                            var format = (data.datasets[tooltipItem.datasetIndex].yAxisID == 'yaxis-2' ? '@reportModel.ExecD3SecondaryYAxisFormat' : '@reportModel.ExecD3PrimaryYAxisFormat');
                            var isDate = (data.datasets[tooltipItem.datasetIndex].yAxisID == 'yaxis-2' ? @Helper.ToJS(reportModel.ExecAxisSecondaryYIsDateTime) : @Helper.ToJS(reportModel.ExecAxisPrimaryYIsDateTime));
                            var val = tooltipItem.@(chartType == "horizontalBar" ? "x" : "y")Label;
                            var valStr = "";
                            if (isDate) valStr = d3.time.format(format)(new Date(val));
                            else valStr = d3.format(format)(Number(val)).valueFormat();

                            @if (reportModel.ExecChartJSType == "pie" || reportModel.ExecChartJSType == "polarArea")
                            {
                                <text>
                                var total = 0;
                                for (var i in allData) total += allData[i];
                                if (isDate) valStr = d3.time.format(format)(new Date(tooltipData));
                                else {
                                    var tooltipPercentage = Math.round((tooltipData / total) * 100);
                                    valStr = d3.format(format)(Number(tooltipData)).valueFormat() + ' (' + tooltipPercentage + '%)';
                                }
                                return tooltipLabel + ': ' + valStr;
                                </text>
                            }
                            else if (reportModel.ExecChartJSType == "scatter")
                            {
                                <text>
                                return data.labels[tooltipItem.index] + ': ' + valStr;
                                </text>
                            }
                            else
                            {
                                <text>
                                return valStr;
                                </text>
                            }
                        }
                    }
                },
                @if (reportModel.ExecChartJSType != "pie" && reportModel.ExecChartJSType != "polarArea" && reportModel.ExecChartJSType != "radar")
                {
                <text>
                scales: {
                    @(chartType != "horizontalBar" ? "x" : "y")Axes: [{
                        offset: true,
                        display: @Helper.ToJS(view.GetBoolValue("chartjs_show_xaxis")),
                        stacked: @Helper.ToJS(reportModel.ExecChartJSType == "bar" && view.GetBoolValue("chartjs_bar_stacked")),
                        @if (reportModel.ExecChartIsDateTimeAxis) {
                            <text>
                                    type: 'time',
                                    time: {
                                        format: '@reportModel.ExecMomentJSXAxisFormat',
                                        tooltipFormat: '@reportModel.ExecMomentJSXAxisFormat',
                                        unit: '@view.GetValue("chartjs_unit")',
                                        stepSize: '@view.GetValue("chartjs_step_size")',
                                        displayFormats: {
                                            'second': '@reportModel.ExecMomentJSXAxisFormat',
                                            'minute': '@reportModel.ExecMomentJSXAxisFormat',
                                            'hour': '@reportModel.ExecMomentJSXAxisFormat',
                                            'day': '@reportModel.ExecMomentJSXAxisFormat',
                                            'week': '@reportModel.ExecMomentJSXAxisFormat',
                                            'month': '@reportModel.ExecMomentJSXAxisFormat',
                                            'quarter': '@reportModel.ExecMomentJSXAxisFormat',
                                            'year': '@reportModel.ExecMomentJSXAxisFormat',
                                        }
                                    }
                            </text>
                            }
                        }],
                    @(chartType != "horizontalBar" ? "y" : "x")Axes: [
                        @if (reportModel.HasPrimaryYAxis) {
                            <text>
                                {
                                id: 'yaxis-1',
                                display: @Helper.ToJS(view.GetBoolValue("chartjs_show_yaxis")),
                                stacked: @Helper.ToJS(reportModel.ExecChartJSType == "bar" && view.GetBoolValue("chartjs_bar_stacked")),
                                ticks: {
                                    callback: function (label, index, labels) {
                                        if (@Helper.ToJS(reportModel.ExecAxisPrimaryYIsDateTime)) return d3.time.format('@reportModel.ExecD3PrimaryYAxisFormat')(new Date(label));
                                        return d3.format('@reportModel.ExecD3PrimaryYAxisFormat')(label).valueFormat();
                                        }
                                    }
                                },
                            </text>
                        }
                        @if (reportModel.HasSecondaryYAxis) {
                            <text>
                                {
                                id: 'yaxis-2',
                                display: @Helper.ToJS(view.GetBoolValue("chartjs_show_yaxis")),
                                position: 'right',
                                ticks: {
                                    callback: function(label, index, labels) {
                                        if (@Helper.ToJS(reportModel.ExecAxisSecondaryYIsDateTime)) return d3.time.format('@reportModel.ExecD3SecondaryYAxisFormat')(new Date(label));
                                        return d3.format('@reportModel.ExecD3SecondaryYAxisFormat')(label).valueFormat();
                                        }
                                    }
                                },
                            </text>
                        }
                    ]
                }
                </text>
                }
            };

                var @chartId = new Chart(ctx, {
                    type: '@chartType',
                    data: data,
                    options: options
                });
                // Navigation
                if (@Helper.ToJS(report.GenerateHTMLDisplay)) {
                    $("#@chartId").click(
                        function (evt) {
                            var points = @(chartId).getElementsAtEvent(evt);
                            if (points && points.length > 0) {
                                var index = points[0]["_index"];
                                var label = @(chartId).data.labels[index];
                                var value = @(chartId).data.datasets[0].data[index];
                                var nav = @(chartId).data.navigations[index];
                                if (nav) showPopupNavMenu(evt, nav, true);
                            }
                        }
                    );
                }
            });//document.ready
        </script>
        chartOk = true;
    }
    if (!chartOk)
    {
        <div class="alert alert-danger" role="alert">
            @Raw(Helper.ToHtml(view.Error))
        </div>
        view.Error = "";
    }
}
