@using System.Data
@using Seal.Model
@using Seal.Helpers
@{
    ReportModel ReportModel = Model;
    Repository Repository = ReportModel.Report.Repository;
    Report Report = ReportModel.Report;
    ReportView View = ReportModel.Report.View;
}


<div id='@View.ViewId' class='view' style='@View.GetCSS("view")'>

    @foreach (ResultPage page in Model.Pages)
    {
        <div class='page_div' style='@View.GetCSS("page")'>

            <a name="@(View.ViewId + page.PageId)"></a>
            @if (page.PageTable != null && page.PageTable.Lines.Count == 2 && page.PageTable.Lines[0].Length > 0)
            {
                <div class='page_table_div' style='@View.GetCSS("page_table")'>
                    <table class='page_table' style='@View.GetCSS("page_table_table")'>
                        @if (View.HasValue("page_table_caption"))
                        {
                            <caption align="bottom" style="caption-side: bottom;">@Raw(View.GetHtmlValue("page_table_caption"))</caption>
                        }
                        <tr>
                            @for (int i = 0; i < page.PageTable.Lines[0].Length; i++)
                            {
                                ResultCell header = page.PageTable.Lines[0][i];
                                ResultCell value = page.PageTable.Lines[1][i];
                                <th class='cell_title'>@Raw(header.HTMLValue)</th>
                                <td class='cell_value' style='@value.CellCssStyle'>@Raw(value.HTMLValue)</td>
                            }
                        </tr>
                    </table>
                </div>
            }

            <hr style="display: block;" />

            @if (page.DataTable != null && page.DataTable.Lines.Count == 2)
            {
                bool dataTitleHeader = true;
                ResultCell[] titles = page.DataTable.Lines[0];
                ResultCell[] values = page.DataTable.Lines[1];
                <div class='data_table_div' style='@View.GetCSS("data_table")'>
                    <table class='data_table' style='@View.GetCSS("data_table_table")'>
                        @if (View.HasValue("data_table_caption"))
                        {
                            <caption align="bottom" style="caption-side: bottom;">@Raw(View.GetHtmlValue("data_table_caption"))</caption>
                        }

                        @for (int row = 0; row < titles.Length; row++)
                        {
                            ResultCell title = titles[row];
                            ResultCell value = values[row];
                            <tr>
                                <th class='cell_title' style='@title.CellCssStyle'>@Raw(title.HTMLValue)</th>
                                <td class='cell_value' style='@value.CellCssStyle'>@Raw(value.HTMLValue)</td>
                            </tr>
                        }
                    </table>
                </div>
            }
        </div>
    }
</div>
