@using Seal.Model
@{
    ReportView view = Model;
    Report report = view.Report;
    ReportModel reportModel = view.Model;

}

@if (!report.PrintLayout && view.GetBoolValue("show_summary_table"))
{
    <div role="tabpanel" class="tab-pane fade in" id="@(view.ViewId + "_summary")">
        @Include(view.GetPartialTemplateKey("Model.i1SummaryTable", view), view)
    </div>
}

@foreach (ResultPage page in reportModel.Pages)
{
    report.Page = page;
    if (report.PrintLayout && view.GetBoolValue("print_break_after_page") && page != reportModel.Pages[0])
    {
        <div style="page-break-after: always;"></div>
    }

    <div role="tabpanel" class="tab-pane fade in active" id="@(view.ViewId + page.PageId)" style='@view.GetCSS("page")'>
        @Include(view.GetPartialTemplateKey("Model.i1PageLayout", page), page)
        @if (view.GetBoolValue("show_page_separator"))
        {
            <hr style="display: block;" />
        }
    </div>
}
