@using Seal.Model
@{
    Report report = Model;
    ReportView view = report.CurrentView;
    ReportModel reportModel = view.Model;
}


<div id='@view.ViewId'>

    @foreach (ResultPage page in reportModel.Pages)
    {
        <div>

            <a name="@(view.ViewId + page.PageId)"></a>
            @if (page.PageTable != null && page.PageTable.Lines.Count == 2 && page.PageTable.Lines[0].Length > 0)
            {
                <table class='table table-striped table-hover table-bordered'>
                    <tr>
                        @for (int i = 0; i < page.PageTable.Lines[0].Length; i++)
                        {
                            ResultCell header = page.PageTable.Lines[0][i];
                            ResultCell value = page.PageTable.Lines[1][i];
                            <td style='@value.FinalCssStyle'>@Raw(value.HTMLValue)</td>
                        }
                    </tr>
                </table>

                <hr style="display: block;" />
            }


            @if (page.DataTable != null && page.DataTable.Lines.Count == 2)
            {
                ResultCell[] titles = page.DataTable.Lines[0];
                ResultCell[] values = page.DataTable.Lines[1];
                <table class='table table-striped table-hover table-bordered'>
                    @for (int row = 0; row < titles.Length; row++)
                    {
                        ResultCell title = titles[row];
                        ResultCell value = values[row];
                        <tr>
                            <th style='@title.FinalCssStyle'>@Raw(title.HTMLValue):</th>
                            <td style='@value.FinalCssStyle'>@Raw(value.HTMLValue)</td>
                        </tr>
                    }
                </table>
            }
        </div>
    }
</div>
